venv
**/media/images/**
**/media/population_reports/**
**__pycache__**
db.sqlite3
backups/
django-memorabilia
django-polls
.DS_Store
.env
**/CACHE/css
**/static/debug_toolbar
**/static/django-browser-reload
backend
.vscode
.claude