Django==5.2.5
python-dotenv==1.2.2
django-allauth==65.15.1
fontawesomefree==6.6.0
requests==2.33.1
requests-oauthlib==2.0.0
rules==3.5
django_gravatar2==1.4.5
pillow==12.2.0
django-tailwind==4.4.2
PyJWT==2.12.1
cryptography==46.0.7
weasyprint==68.1
