{% load i18n %} {% load static %} {% load gravatar %}
{% load socialaccount %}

<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="" />
   <title>{% block head_title %}{% endblock head_title %}</title>

   {% block css %}
   {% tailwind_css %}
   <!-- <link rel="stylesheet" href="{% static 'memorabilia/style.css' %}"> -->
   {% block page_css %} {% endblock page_css %}
   {% endblock css %}
   <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
   <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
   <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
   <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"> -->
   {% block extrahead %}
   {{ form.media }}
   {% endblock extrahead %}
</head>

<body class="h-full max-w-screen-xl mx-auto">
   <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
         <a href="/" class="flex basis-48 items-center space-x-3 rtl:space-x-reverse">
            <img src="{% static 'memorabilia/game_used_site_logo.png' %}" class="h-10" alt="Site Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ site_name }}</span>
         </a>
         {% if user.is_authenticated %}
         <div class="flex basis-48 justify-end items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button"
               class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
               id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
               data-dropdown-placement="bottom">
               <span class="sr-only">Open user menu</span>
               <img class="w-10 h-10 rounded-full" src="{{ user_avatar_url }}" alt="user photo" />
            </button>
            <!-- Dropdown menu -->
            <div
               class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
               id="user-dropdown">
               <div class="px-4 py-3">
                  <span class="block text-sm text-gray-900 dark:text-white">{{ user.username }}</span>
                  <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
               </div>
               <ul class="py-2" aria-labelledby="user-menu-button">
                  {% url 'memorabilia:create_collection' as the_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=the_url label="Add Collection" %}

                  {% block page_navigation %}{% endblock page_navigation %}
               </ul>
               <ul class="py-2" aria-labelledby="user-menu-button">
                  {% if user.is_authenticated %}

                  {% url 'account_email' as email_url %}
                  {% get_social_accounts user as accounts %}
                  {% if email_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=email_url label="Change Email" %}
                  {% endif %}

                  {% url 'account_change_password' as change_password_url %}
                  {% if change_password_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=change_password_url label="Change
                  Password" %}
                  {% endif %}

                  {% url 'socialaccount_connections' as connections_url %}
                  {% if connections_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=connections_url label="Manage Account" %}
                  {% endif %}

                  {% url 'mfa_index' as mfa_url %}
                  {% if mfa_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=mfa_url label="Two-Factor Authentication"
                  %}
                  {% endif %}

                  {% url 'usersessions_list' as usersessions_list_url %}
                  {% if usersessions_list_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=usersessions_list_url label="Sessions" %}
                  {% endif %}

                  {% url 'account_logout' as logout_url %}
                  {% if logout_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=logout_url label="Sign Out" %}
                  {% endif %}

                  {% else %}

                  {% url 'account_login' as login_url %}
                  {% if login_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=login_url label="Sign In" %}
                  {% endif %}

                  {% url 'account_signup' as signup_url %}
                  {% if signup_url %}
                  {% include "memorabilia/elements/usernavitem.html" with link=signup_url label="Sign Up" %}
                  {% endif %}

                  {% endif %}
               </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button"
               class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
               aria-controls="navbar-user" aria-expanded="false">
               <span class="sr-only">Open main menu</span>
               <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M1 1h15M1 7h15M1 13h15" />
               </svg>
            </button>
         </div>
         {% else %}
         <div class="flex basis-48 justify-end items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <a href="{% url 'account_login' %}" class="btn btn-outline-light">
               <button type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                  {% translate "Sign In" %}
               </button>
            </a>
            {% url 'account_signup' as signup_url %} {% if signup_url %}
            <a href="{{ signup_url }}" class="btn btn-success">
               <button type="button"
                  class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                  {% translate "Sign Up" %}
               </button>
            </a>
            {% endif %}
            <button data-collapse-toggle="navbar-user" type="button"
               class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
               aria-controls="navbar-user" aria-expanded="false">
               <span class="sr-only">Open main menu</span>
               <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M1 1h15M1 7h15M1 13h15" />
               </svg>
            </button>
         </div>
         {% endif %}
         <div class="items-center flex-grow justify-center hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul
               class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
               {% block navigation %}
               {% url 'memorabilia:list_collections' as the_url %}
               {% include "memorabilia/navitem.html" with link=the_url label="Collections" %}
               {% endblock navigation %}
            </ul>
         </div>
      </div>
   </nav>

   {% block body %}
   <main class="container mx-auto px-4 py-6">
      {% if messages %}
      <div>
         <ul>
            {% for message in messages %}
            <li>
               <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                  role="alert">
                  {{ message }}
               </div>
            </li>
            {% endfor %}
         </ul>
      </div>
      {% endif %}
      <nav class="flex pb-4" aria-label="Breadcrumb">
         <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            {% if request.path != '/' %}
            <li class="inline-flex items-center">
               <a href="/"
                  class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                  <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 20 20">
                     <path
                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                  </svg>
                  Home
               </a>
            </li>
            {% endif %} {% block breadcrumb %} {% endblock breadcrumb %}
         </ol>
      </nav>

      {% block content %} {% endblock content%}
   </main>
   {% endblock body %} {% block extra_body %} {% endblock extra_body %}

   <footer class="bg-white dark:bg-gray-900">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
         <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
         <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center">
               <img src="{% static 'memorabilia/game_used_site_logo.png' %}" class="h-8 me-3"
                  alt="{{ site_name }} Logo" />
               <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ site_name }}</span>
            </a>
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="/"
                  class="hover:underline">{{ site_name }}</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
               <a href="https://discord.gg/emHhYv5Hu2"
                  class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <i class="w-4 h-4 align-top fa-brands fa-discord"></i>
                  <span class="sr-only">Discord community</span>
               </a>
               <a href="https://github.com/wittjr/gameworn"
                  class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <i class="w-4 h-4 align-top fa-brands fa-github"></i>
                  <span class="sr-only">GitHub account</span>
               </a>
               <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <i class="w-4 h-4 align-top fa-brands fa-bluesky"></i>
                  <span class="sr-only">Bluesky account</span>
               </a>
               <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <i class="w-4 h-4 align-top fa-brands fa-x-twitter"></i>
                  <span class="sr-only">Twitter page</span>
               </a>
               <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <i class="w-4 h-4 align-top fa-brands fa-mastodon"></i>
                  <span class="sr-only">Mastodon page</span>
               </a>
            </div>
         </div>
      </div>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>