{% extends 'memorabilia/base.html' %}

{% block page_navigation %}
    {% if user.is_authenticated %}
        {% if user.id == object.collection.owner_uid or user.is_superuser %}
            {% url 'memorabilia:edit_collectible' object.collection.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Edit" %}

            {% url 'memorabilia:delete_collectible' object.collection.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Delete" %}

            {% url 'memorabilia:create_photo_match' object.collection.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Add Photo Match" %}
        {% endif %}
    {% endif %}
{% endblock page_navigation %}

{% block breadcrumb %}
<div class="crumb"><a href="{% url 'memorabilia:home' %}">Home</a></div>><div class="crumb"><a href="{% url 'memorabilia:list_collections' %}">Collections</a></div>><div class="crumb"><a href="{% url 'memorabilia:collection' object.collection.id %}">{{ object.collection }}</a></div>
{% endblock breadcrumb %}

{% block content %}
<div class="collectible-container">
    <div class="collectible-header">{{ object.title }}</div>
    <div class="collectible-main">

        {% if object.primary_image %}
            <img src='{{ MEDIA_URL }}{{ object.primary_image }}'></img>
            <div class="image-carousel">
                {% if object.images.all|length > 0 %}
                    {% for image in object.images.all %}
                        <img src='{{ MEDIA_URL }}{{ image.image }}'></img>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="collectible-details">
        <div class="table-row"><div class="table-cell">League:</div><div class="table-cell">{{ object.league }}</div></div>
        <div class="table-row"><div class="table-cell">Brand</div><div class="table-cell">{{ object.brand }}</div></div>
        <div class="table-row"><div class="table-cell">Size</div><div class="table-cell">{{ object.size }}</div></div>
        <div class="table-row"><div class="table-cell">Player</div><div class="table-cell">{{ object.player }}</div></div>
        <div class="table-row"><div class="table-cell">Season</div><div class="table-cell">{{ object.season }}</div></div>
        <div class="table-row"><div class="table-cell">Description</div><div class="table-cell">{{ object.description }}</div></div>
        <div class="table-row"><div class="table-cell">Usage Type</div><div class="table-cell">{{ object.usage_type }}</div></div>
        <div class="table-row"><div class="table-cell">Game Type</div><div class="table-cell">{{ object.game_type }}</div></div>
        <div class="table-row"><div class="table-cell">Collection</div><div class="table-cell">{{ object.collection }}</div></div>
        <div class="table-row">
            <div class="table-cell">For Sale?</div>
            <div class="table-cell">
                {% if object.for_sale %}
                    <i class="fa-solid fa-check"></i>
                {% else %}
                    <i class="fa-solid fa-ban"></i>
                {% endif %}

            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">For Trade?</div>
            <div class="table-cell" >
                {% if object.for_trade %}
                    <i class="fa-solid fa-check"></i>
                {% else %}
                    <i class="fa-solid fa-ban"></i>
                {% endif %}
            </div>
        </div>
        {% if object.for_sale %}
            <div class="table-row"><div class="table-cell">Asking Price</div><div class="table-cell">{{ object.asking_price }}</div></div>
        {% endif %}
        {% if object.for_trade %}
            <div class="table-row"><div class="table-cell">Looking for</div><div class="table-cell">{{ object.looking_for }}</div></div>
        {% endif %}
    </div>
    <div class="collectible-footer">
        <div class="image-carousel">
            {% for image in object.photomatches.all %}
                <div>
                    <img src='{{ MEDIA_URL }}{{ image.image }}'></img>
                    {{ image.game_date }}
                </div>
            {% empty %}
                <p>No photo matches</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}