{% extends "memorabilia/base.html" %}
{% load static %}
{% load memorabilia_extras %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'memorabilia/collection.css' %}">
{% endblock page_css %}
	
{% block page_navigation %}
    <!-- {% if user.is_authenticated %}
        {% url 'memorabilia:create_collection' as the_url %}
        {% include 'memorabilia/navitem.html' with link=the_url label="Add" %}
    {% endif %} -->
{% endblock page_navigation %}

{% block breadcrumb %}
    {% include 'memorabilia/breadcrumb.html' with label="Collections" %}
{% endblock breadcrumb %}

{% block content %}
    <div class="collection-list-container">
        {% for collection in collection_list %}
            {% url 'memorabilia:collection' collection.id as the_url %}
            {% if collection.image %}
                {% getmediaurl collection.image as image_url %}
            {% else %}
                {% getmediaurl collection.image_link as image_url %}
            {% endif %}

            {% include "memorabilia/collection_card.html" with link=the_url label=collection.title image=image_url description=collection.description owner=collection.owner_email owner_username=collection.owner_username %}
        {% endfor %}
    </div>
{% endblock content %}