{% extends 'memorabilia/base.html' %}
{% load memorabilia_extras %}


{% block head_title %}
    {{ title }}
{% endblock head_title %}

{% block extrahead %}
    {{ image_formset.media }}
{% endblock extrahead %}

{% block navigation %}
    {% if user.is_authenticated %}
        {% if user.id == collection.owner_uid or user.is_superuser %}
            {% url 'memorabilia:edit_collection' collection.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Edit Collection" %}

            {% url 'memorabilia:delete_collection' collection.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Delete Collection" %}

            {% url 'memorabilia:create_collectible' collection.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Add Collectible" %}
        {% endif %}
    {% endif %}
{% endblock navigation %}

{% block breadcrumb %}
    {% url 'memorabilia:list_collections' as the_url %}
    {% include 'memorabilia/breadcrumb.html' with url=the_url label="Collections" %}
    {% if collectible %}
        {% url 'memorabilia:collection' collectible.collection.id as the_url %}
        {% include 'memorabilia/breadcrumb.html' with url=the_url label=collectible.collection.title %}
        {% url 'memorabilia:collectible' collection_id=collectible.collection.id pk=collectible.id as the_url %}
        {% include 'memorabilia/breadcrumb.html' with url=the_url label=collectible.title %}
    {% else %}
        {% url 'memorabilia:collection' collection.id as the_url %}
        {% include 'memorabilia/breadcrumb.html' with url=the_url label=collection.title %}
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
<h1 class="mb-6 text-xl text-center font-extrabold tracking-tight leading-none md:text-3xl lg:text-4xl">{{ title }}</h1>
<div class="container mx-auto max-w-96">
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form }}
        {% include 'memorabilia/flickr_album_widget.html' with formset=image_formset %}
        <div class="mx-auto flex">
            <button
                type="submit"
                class="grow text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Save
            </button>
            <button
                type="button"
                class="grow text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                onclick="history.back()">
                Cancel
            </button>
        </div>
    </form>
</div>
{% endblock content %}
