{% extends 'memorabilia/base.html' %}
{% load memorabilia_extras %}

{% block page_navigation %}
    {% if user.is_authenticated %}
        {% if user.id == object.collection.owner_uid or user.is_superuser %}
            {% url 'memorabilia:edit_collectible' object.collection.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Edit Collectible" %}

            {% url 'memorabilia:delete_collectible' object.collection.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Delete Collectible" %}

            {% url 'memorabilia:create_photo_match' object.collection.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Add Photo Match" %}
        {% endif %}
    {% endif %}
{% endblock page_navigation %}

{% block breadcrumb %}
    {% url 'memorabilia:list_collections' as the_url %}
    {% include 'memorabilia/breadcrumb.html' with url=the_url label="Collections" %}
    {% url 'memorabilia:collection' collectible.collection.id as the_url %}
    {% include 'memorabilia/breadcrumb.html' with url=the_url label=collectible.collection.title %}
    {% include 'memorabilia/breadcrumb.html' with label=collectible.title %}
{% endblock breadcrumb %}

{% block content %}
<h1 class="mb-6 text-4xl text-center font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">{{ object.title }}</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-4">
    <div class="grid gap-4 w-full">
        <div class="mx-auto">
            {% include "memorabilia/elements/modal.html" with image_url=collectible.primary_image %}
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for image in object.images.all %}
                {% if image.primary == False %}
                    {% getmediaurl image as image_url %}
                    {% include "memorabilia/elements/modal.html" with image_url=image_url %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="w-full relative overflow-x-auto">
        <table class="table-auto sm:rounded-lg border shadow-md w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <tbody>
                {% include 'memorabilia/tablerow.html' with label='League' value=collectible.league %}
                {% include 'memorabilia/tablerow.html' with label='Brand' value=collectible.brand %}
                {% include 'memorabilia/tablerow.html' with label='Size' value=collectible.size %}
                {% include 'memorabilia/tablerow.html' with label='Player' value=collectible.player %}
                {% include 'memorabilia/tablerow.html' with label='Number' value=collectible.number %}
                {% include 'memorabilia/tablerow.html' with label='Season' value=collectible.season %}
                {% include 'memorabilia/tablerow.html' with label='Description' value=collectible.description %}
                {% include 'memorabilia/tablerow.html' with label='Usage Type' value=collectible.usage_type %}
                {% include 'memorabilia/tablerow.html' with label='Game Type' value=collectible.game_type %}
                <!-- {% include 'memorabilia/tablerow.html' with label='Collection' value=collectible.collection %} -->
                <!-- {% include 'memorabilia/tablerow.html' with label='For Sale' value=collectible.for_sale %} -->
                <!-- {% include 'memorabilia/tablerow.html' with label='For Trade' value=collectible.for_trade %} -->
                {% if object.for_sale %}
                    {% include 'memorabilia/tablerow.html' with label='Asking Price' value=collectible.asking_price %}
                {% endif %}
                {% if object.for_trade %}
                    {% include 'memorabilia/tablerow.html' with label='Looking for' value=collectible.looking_for %}
                {% endif %}    
            </tbody>
        </table>
        
    </div>
</div>

{% if object.photomatches.all.count > 0 %}
<h2 class="mb-6 text-2xl text-center font-extrabold tracking-tight leading-none md:text-3xl lg:text-4xl">Photo matches</h2>
<div class="container flex flex-row gap-4 w-full justify-start">
    {% for image in object.photomatches.all %}
        {% getmediaurl image as image_url %}

        <div class="max-w-sm w-full h-full bg-white border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
                    <!-- <div class="w-full h-3/4">
                        <img class="mb-auto rounded-t-lg w-full h-auto max-w-full max-h-full object-scale-down" src="{{ image_url }}" alt="" />
                    </div> -->
                    {% include "memorabilia/elements/modal.html" with image_url=image_url %}
                    <div class="p-2">
                        <h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ image.game_date }}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ image.description }}</p>
                    </div>
        {% if request.user.id == object.collection.owner_uid or request.user.is_superuser %}
            {% url 'memorabilia:edit_photo_match' object.collection.id object.id image.id as edit_match_url %}
            <a href="{{ edit_match_url }}">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock content %}