{% extends "memorabilia/base.html" %}
	
{% block content %}
    <ul>
        {% for collection in object_list %}
            <li><a href="{% url 'memorabilia:collection' collection.id %}">{{ collection.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block page_navigation %}
    {% if user.is_authenticated %}
        {% url 'memorabilia:create_collection' as the_url %}
        {% include "memorabilia/navitem.html" with link=the_url label="Add" %}
    {% endif %}
{% endblock page_navigation %}

{% block breadcrumb %}
    <div class="navitem"><a href="{% url 'memorabilia:home' %}">Home</a></div>
{% endblock breadcrumb %}

