{% extends 'memorabilia/base.html' %}

{% block page_navigation %}
    {% if user.is_authenticated %}
        {% if user.id == collection.owner_uid or user.is_superuser %}
            {% url 'memorabilia:create_collectible' collection.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Add" %}

            {% url 'memorabilia:edit_collection' collection.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Edit" %}

            {% url 'memorabilia:delete_collection' collection.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Delete" %}
        {% endif %}
    {% endif %}
{% endblock page_navigation %}

{% block breadcrumb %}
<div class="crumb"><a href="{% url 'memorabilia:home' %}">Home</a></div>><div class="crumb"><a href="{% url 'memorabilia:list_collections' %}">Collections</a></div>
{% endblock breadcrumb %}

{% block content %}
    <p>
        {{ collection.title }}
    </p>
    {% for collectible in collection.collectible_set.all %}
        <li><a href="{% url 'memorabilia:collectible' collection.id collectible.id %}">{{ collectible.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}