{% extends 'memorabilia/base.html' %}
{% load memorabilia_extras %}

{% block head_title %}Game Used{% endblock head_title %}

{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">My Sports Memorabilia</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Welcome to where I am cataloging and displaying my sports memorabilia collection. It's still under development, expect some hiccups here and there.</p>
        <!-- <span class="mb-4 text-3xl font-bold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Recent Updates</span> -->

        <div class="flex flex-wrap gap-4 py-4 justify-evenly">
            {% for collectible in collectibles %}
                {% url 'memorabilia:collectible' collectible.collection.id collectible.id as the_url %}
                {% getmediaurl collectible.get_primary_image as image_url %}
                {% include "memorabilia/collectible_card.html" with link=the_url label=collectible.title image=image_url %}
            {% endfor %}
        </div>    
    </div>
</section>

{% endblock content %}