{% extends 'memorabilia/base.html' %}

{% block page_navigation %}
    {% if user.is_authenticated %}
        {% if user.id == object.collectible.collection.owner_uid or user.is_superuser %}
            {% url 'memorabilia:edit_photo_match' object.collectible.collection.id object.collectible.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Edit" %}

            {% url 'memorabilia:delete_photo_match' object.collectible.collection.id object.collectible.id object.id as the_url %}
            {% include "memorabilia/navitem.html" with link=the_url label="Delete" %}
        {% endif %}
    {% endif %}
{% endblock page_navigation %}

{% block breadcrumb %}
<div class="crumb"><a href="{% url 'memorabilia:home' %}">Home</a></div>><div class="crumb"><a href="{% url 'memorabilia:list_collections' %}">Collections</a></div>><div class="crumb"><a href="{% url 'memorabilia:collection' object.collectible.collection.id %}">{{ object.collectible.collection }}</a></div>><div class="crumb"><a href="{% url 'memorabilia:collectible' object.collectible.collection.id object.collectible.id %}">{{ object.collectible }}</a></div>
{% endblock breadcrumb %}


{% block content %}
    <p>{{ object.collectible }}</p>
    <p>{{ object.game_date }}</p>
    {% if object.image|length > 0 %}
    <p><img src='{{ MEDIA_URL }}{{ object.image }}' /></p>
    {% endif %}
{% endblock content %}