{% extends 'memorabilia/base.html' %}

{% block navigation %}
    <div class="navitem"><a href="{% url 'memorabilia:edit_photo_match' object.collectible.collection.id object.collectible.id object.id %}">Edit</a></div>
    <div class="navitem"><a href="{% url 'memorabilia:delete_photo_match' object.collectible.collection.id object.collectible.id object.id %}">Delete</a></div>
{% endblock navigation %}

{% block breadcrumb %}
<div class="crumb"><a href="{% url 'memorabilia:index' %}">Home</a></div>><div class="crumb"><a href="{% url 'memorabilia:collection' object.collectible.collection.id %}">{{ object.collectible.collection }}</a></div>><div class="crumb"><a href="{% url 'memorabilia:collectible' object.collectible.collection.id object.collectible.id %}">{{ object.collectible }}</a></div>
{% endblock breadcrumb %}


{% block content %}
    <p>{{ object.collectible }}</p>
    <p>{{ object.game_date }}</p>
    {% if object.image|length > 0 %}
    <p><img src='{{ MEDIA_URL }}{{ object.image }}' /></p>
    {% endif %}
{% endblock content %}