<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-t border-b dark:border-gray-700">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ label }}
    </th>
    <td class="px-6 py-4">
        {% if value is True %}
            <i class="fa-solid fa-check"></i>
        {% elif value is False %}
            <i class="fa-solid fa-ban"></i>
        {% else %}
            {{ value }}
        {% endif %}
    </td>
</tr>
